* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    margin-top: 11vh;
}

@media screen and (max-width: 1024px) {
    #app {
        margin-top: 9vh;
        margin-bottom: 80px;
    }
}

/* Navbar */
.navbar {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 11vh;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 5rem;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
}

.navbar .logo {
    flex: 1;
}

.navbar .nav-links {
    flex: 3;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.navbar .nav-links .nav-link a {
    color: #333;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    transition: all 250ms ease;
}

.navbar .nav-links .nav-link.active a {
    color: #DB2777;
}

.navbar .nav-links .nav-link a:hover {
    color: #DB2777;
}

.navbar .action-wrapper {
    flex: 3.3;
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}

.navbar .action-wrapper .search {
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

.navbar .action-wrapper .search input {
    height: 1.8rem;
    width: 11rem;
    padding: 0 .75rem;
    font-size: 15px;
    border: 1px solid #bbb;
    border-radius: 4px;
    background-color: #fafafa;
}

.navbar .action-wrapper .search button {
    width: 1.8rem;
    height: 1.8rem;
    border: none;
    margin-left: .5rem;
    background-color: #DB2777;
    color: #fff;
    border-radius: 4px;
}

.navbar .action-wrapper a {
    margin-left: .7rem;
    text-decoration: none;
    font-weight: 600;
    color: #333;
}

.navbar .action-wrapper a.icon {
    margin-right: .5rem;
    transition: all 150ms ease;
}

.navbar .action-wrapper a.icon.active {
    color: #DB2777;
}

.navbar .action-wrapper a.icon:hover {
    color: #DB2777;
}

.navbar .action-wrapper a.account {
    padding: .7rem;
    font-size: 14px;
    border-radius: 4px;
    transition: all 150ms ease;
}

.navbar .action-wrapper a.account:hover {
    background-color: #DB2777;
    color: #fff;
}

.navbar .action-wrapper a.auth {
    border: 1px solid #DB2777;
    padding: .4rem 1rem;
    border-radius: 3px;
}

.navbar .action-wrapper a.auth.login {
    color: #DB2777;
}

.navbar .action-wrapper a.auth.register {
    background-color: #DB2777;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .navbar {
        position: fixed;
        z-index: 9999;
        width: 100%;
        height: 9vh;
        top: 0;
        left: 0;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    }

    .navbar .logo {
        position: absolute;
        left: 1rem;
    }

    .navbar .logo img {
        width: 60px;
    }
    
    .navbar .nav-links {
        display: none;
    }

    .navbar .action-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .navbar .action-wrapper .search {
        padding-left: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 35px;
    }
    
    .navbar .action-wrapper .search input {
        height: 1.8rem;
        width: 70%;
        padding: 0 .75rem;
        font-size: 15px;
        border: 1px solid #bbb;
        border-radius: 4px;
        background-color: #fafafa;
    }
    
    .navbar .action-wrapper .search button {
        width: 1.8rem;
        height: 1.8rem;
        border: none;
        margin-left: .5rem;
        background-color: #DB2777;
        color: #fff;
        border-radius: 4px;
    }
    
    .navbar .action-wrapper a {
        display: none;
    }
}

/* End of Navbar */

/* Footer */
footer.footer {
    margin-top: 5rem;
    border-top: 1px solid #DB2777;
    font-family: 'Open Sans', sans-serif;
}

footer.footer .footer-text-wrapper {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer.footer .footer-text-wrapper .header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer.footer .footer-text-wrapper .header p {
    margin: 1.5rem 0 1rem;
    padding: 0 17rem;
    text-align: center;
    line-height: 28px;
    color: #444;
}

footer.footer .footer-text-wrapper .header .social-media-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer.footer .footer-text-wrapper .header .social-media-wrapper a {
    font-size: 20px;
    padding: 0.25rem .6rem;
    margin: 0 .5rem;
    color: #333;
    text-decoration: none;
    transition: all 250ms ease;
}

footer.footer .footer-text-wrapper .links-wrapper {
    display: flex;
    margin-top: 2.3rem;
}

footer.footer .footer-text-wrapper .links-wrapper ul {
    margin: 0 2.5rem;
    list-style: none;
}

footer.footer .footer-text-wrapper .links-wrapper ul li {
    margin: .6rem 0;
    font-size: 13px;
    color: #222;
}

footer.footer .footer-text-wrapper .links-wrapper ul li a {
    text-decoration: none;
    color: #222;
    transition: all 150ms ease;
}

footer.footer .footer-text-wrapper .links-wrapper ul li a:hover {
    color: #DB2777;
}

footer.footer .footer-text-wrapper .header .social-media-wrapper a:hover {
    color: #DB2777;
}

footer.footer .copyright {
    font-family: sans-serif;
    background-color: #DB2777;
    text-align: center;
    padding: 1rem 0;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
}

@media screen and (max-width: 1024px) {
    footer.footer {
        display: none;
        margin-top: 0;
    }
}
/* End of Footer */

/* Home */  
    /* Banner Header */
    .banner-wrapper {
        width: 100%;
        height: 89vh;
    }

    .banner-wrapper .banner {
        width: 100%;
        height: 89vh;
        background-size: cover;
        background-position-x: -100px;
    }

    .banner-wrapper .banner .title-wrapper {
        padding: 0 5rem;
        font-family: 'Open Sans', sans-serif;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
    }

    .banner-wrapper .banner .title-wrapper h1 {
        font-weight: 400;
        font-size: 36px;
    }

    .banner-wrapper .banner .title-wrapper h1 span {
        display: block;
        font-weight: 700;
        font-size: 45px;
    }

    .banner-wrapper .banner .title-wrapper p {
        margin-top: 1rem;
        font-size: 16px;
        color: #333;
        line-height: 26px;
    }

    .banner-wrapper .banner .title-wrapper div {
        margin-top: 3.3rem;
    }

    .banner-wrapper .banner .title-wrapper div a {
        background-color: #DB2777;
        color: #eee;
        text-decoration: none;
        padding: .9rem 1.6rem;
        font-weight: 600;
        font-size: 17px;
    }

    @media screen and (max-width: 1024px) {
        .banner-wrapper {
            height: 25vh;
        }
    
        .banner-wrapper .banner {
            height: 25vh;
            background-position-x: -40px;
        }
    
        .banner-wrapper .banner .title-wrapper {
            padding: 0 1.5rem;
            width: 70%;
        }
    
        .banner-wrapper .banner .title-wrapper h1 {
            font-size: 15px;
        }
    
        .banner-wrapper .banner .title-wrapper h1 span {
            font-size: 16px;
        }
    
        .banner-wrapper .banner .title-wrapper p {
            display: none;
        }
    
        .banner-wrapper .banner .title-wrapper div {
            margin-top: 1rem;
        }
    
        .banner-wrapper .banner .title-wrapper div a {
            padding: .5rem .8rem;
            font-size: 13px;
        }
    }

    /* Home Services */
    .home-services {
        padding: 0 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2.75rem;
    }

    .home-services .service {
        display: flex;
    }

    .home-services .service .icon {
        color: #DB2777;
    }

    .home-services .service .text-service {
        padding: .2rem 1rem;
        font-family: 'Open Sans', sans-serif;
        color: #333;
    }

    .home-services .service .text-service h4 {
        font-weight: 600;
    }

    .home-services .service .text-service p {
        font-size: 14px;
        margin-top: .4rem;
    }

    @media screen and (max-width: 1024px) {
        .home-services {
            padding: 0 1.5rem;
            flex-wrap: wrap;
            margin-top: 2.5rem;
        }
    
        .home-services .service {
            flex-direction: column;
            width: 48%;
            margin-bottom: 1rem;
        }
    
        .home-services .service .icon {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .home-services .service .text-service {
            padding: .5rem 0rem;
            font-family: 'Open Sans', sans-serif;
            color: #333;
        }
    
        .home-services .service .text-service h4 {
            text-align: center;
        }
    
        .home-services .service .text-service p {
            text-align: center;
            font-size: 13px;
            margin-top: .3rem;
        }
    }

    /* Home Categories */
    .home-categories {
        margin-top: 2.5rem;
        padding: 0 5rem;
        font-family: 'Open Sans', sans-serif;
    }

    .home-categories h2 {
        margin-bottom: 1.75rem;
    }

    .home-categories hr {
        margin-top: 7px;
        border: none;
        width: 100%;
        height: 1.4px;
        background: #bbb;
    }

    .home-categories .categories {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .home-categories .categories .category {
        display: flex;
        flex-direction: column;
        width: 175px;
        margin-bottom: 1.7rem;
    }

    .home-categories .categories .category .category-image {
        width: 100%;
        height: 175px;
        background-size: cover;
        background-position: center;
        border: 1px solid #999;
        border-radius: 8px;
    }

    .home-categories .categories .category .category-name {
        text-align: center;
        margin-top: .75rem;
        text-decoration: none;
        color: #333;
        font-weight: 600;
        font-size: 17px;
    }

    /* Home Promo */
    .home-promo {
        font-family: 'Open Sans', sans-serif;
        padding: 2.5rem 5rem;
        background-color: #DB2777;
        margin-top: 2rem;
    }

    .home-promo h2 {
        color: #fff;
        width: 100%;
    }

    .home-promo h2 a {
        color: #fff;
        font-size: 1rem;
        text-decoration: none;
        float: right;
    }

    .home-promo h2 a:hover {
        text-decoration: underline;
    }

    @media screen and (max-width: 1024px) {
        .home-promo {
            padding: 1.7rem 1.5rem;
            background-color: #DB2777;
            margin-top: 1rem;
        }
    
        .home-promo h2 {
            font-size: 18px;
        }
    
        .home-promo h2 a {
            float: right;
            font-size: 15px !important;
        }
    
        .home-promo h2 a:hover {
            text-decoration: underline;
        }
    }

    /* Home Newest Product */
    .home-categories {
        margin-top: 2.5rem;
        padding: 0 5rem;
        font-family: 'Open Sans', sans-serif;
    }

    .home-categories h2 {
        margin-bottom: 1.75rem;
    }

    .home-categories .categories {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .home-categories .categories .category {
        display: flex;
        flex-direction: column;
        width: 175px;
        margin-bottom: 1.7rem;
    }

    .home-categories .categories .category .category-image {
        width: 100%;
        height: 175px;
        background-size: cover;
        background-position: center;
        border: 1px solid #999;
        border-radius: 8px;
    }

    .home-categories .categories .category .category-name {
        text-align: center;
        margin-top: .75rem;
        text-decoration: none;
        color: #333;
        font-weight: 600;
        font-size: 17px;
    }

    @media screen and (max-width: 1024px) {
        .home-categories {
            margin-top: 1.7rem;
            padding: 0 1.5rem;
        }
    
        .home-categories h2 {
            margin-bottom: 1.25rem;
        }
    
        .home-categories .categories {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    
        .home-categories .categories .category {
            display: flex;
            flex-direction: column;
            width: 48%;
            margin-bottom: 1.5rem;
        }
    
        .home-categories .categories .category .category-image {
            height: 160px;
        }
    
        .home-categories .categories .category .category-name {
            margin-top: .4rem;
            font-size: 16px;
        }
    }

    /* Home Recommendation */
    .load-more-recommendation {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: .7rem 0 1.5rem;
    }

    .load-more-recommendation button {
        font-family: 'Open Sans', sans-serif;
        background: #fff;
        border: 1px solid #e63685;
        font-size: 17px;
        font-weight: 600;
        color: #DB2777;
        padding: .7rem 3.5rem;
        border-radius: 7px;
        cursor: pointer;
    }

    @media screen and (max-width: 1024px) {
        .home-recommendation-products-wrapper {
            display: flex !important;
            flex-wrap: wrap !important;
        }

        .load-more-recommendation {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
        }
    
        .load-more-recommendation button {
            font-size: 16px;
            font-weight: 600;
            padding: .6rem;
            width: 100%;
            margin: .7rem 0 0rem;
        }
    }

/* Bottom Navigation */
.bottom-navigation {
    display: none;
}

@media screen and (max-width: 1024px) {
    .bottom-navigation {
        font-family: 'Open Sans', sans-serif;
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: #fff;
        box-shadow: 0px 0px 4px #db27789a;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .bottom-navigation a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 19%;
        text-decoration: none;
        height: 100%;
        color: #555;
        transition: all 150ms ease;
    }

    .bottom-navigation a.active {
        color: #DB2777;
    }

    .bottom-navigation a.active span {
        font-weight: 600 !important;
    }

    .bottom-navigation a:hover {
        background-color: #db2778d2;
        color: #fff;
    }

    .bottom-navigation a span.text {
        font-size: 12.7px;
        margin-top: 2px;
        font-weight: 500;
    }
}

/* Categories */
.categories-categories {
    margin-top: 7rem !important;
}

@media screen and (max-width: 1024px) {
    .categories-categories {
        margin-top: 5rem !important;
    }
}

/* Web Login */
.auth-web-login-container {
    height: 87vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
}

.auth-web-login {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    background-size: cover;
    background-position: center center;
}

.auth-web-login .illustration {
    flex: 1.3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.auth-web-login .illustration img {
    width: 80%;
}

.auth-web-login .form-login {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 15px #db27787a;
    border-radius: 6px;
    padding: 2rem 0;
}

.auth-web-login .form-login .logo img {
    width: 130px;
}

.auth-web-login .form-login form {
    margin-top: 1rem;
    width: 100%;
    padding: 0 2rem;
}

.auth-web-login .form-login form .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: .6rem;
}

.auth-web-login .form-login form .form-group label {
    color: #444;
}

.auth-web-login .form-login form .form-group input {
    margin-top: .3rem;
    font-size: 16px;
    width: 100%;
    padding: .5rem .7rem;
    border: 1px solid #bbb;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.auth-web-login .form-login form .form-group button {
    background-color: #DB2777;
    color: #fff;
    font-weight: 600;
    border: none;
    font-size: 17px;
    padding: .5rem 0;
    border-radius: 3px;
    margin-top: .7rem;
}

.auth-web-login .form-login form .have-an-account {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.auth-web-login .form-login form .have-an-account span {
    font-size: 15px;
    color: #444;
}

.auth-web-login .form-login form .have-an-account span a {
    color: #DB2777;
    text-decoration: none;
}

.auth-web-login .form-login form .have-an-account span a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    .auth-web-login-container {
        height: 80vh;
        margin: 4.5rem 0;
    }
    
    .auth-web-login {
        justify-content: center;
        padding: 0 1.5rem;
    }
    
    .auth-web-login .illustration {
        display: none;
    }
    
    .auth-web-login .form-login {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        box-shadow: 0px 0px 15px #db27787a;
        border-radius: 6px;
        padding: 2rem 0;
        width: 100%;
    }
    
    .auth-web-login .form-login .logo img {
        width: 130px;
    }
    
    .auth-web-login .form-login form {
        margin-top: 1rem;
        width: 100%;
        padding: 0 2rem;
    }
    
    .auth-web-login .form-login form .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: .6rem;
    }
    
    .auth-web-login .form-login form .form-group label {
        color: #444;
    }
    
    .auth-web-login .form-login form .form-group input {
        margin-top: .3rem;
        font-size: 16px;
        width: 100%;
        padding: .5rem .7rem;
        border: 1px solid #bbb;
        border-radius: 4px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    }
    
    .auth-web-login .form-login form .form-group button {
        background-color: #DB2777;
        color: #fff;
        font-weight: 600;
        border: none;
        font-size: 17px;
        padding: .5rem 0;
        border-radius: 3px;
        margin-top: .7rem;
    }
    
    .auth-web-login .form-login form .have-an-account {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }
    
    .auth-web-login .form-login form .have-an-account span {
        font-size: 15px;
        color: #444;
    }
    
    .auth-web-login .form-login form .have-an-account span a {
        color: #DB2777;
        text-decoration: none;
    }
    
    .auth-web-login .form-login form .have-an-account span a:hover {
        text-decoration: underline;
    }
}

.auth-web-login.auth-web-register .illustration {
    flex: 1.2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.auth-web-login.auth-web-register .illustration img {
    width: 85%;
}

@media screen and (max-width: 1024px) {
    .auth-web-login.auth-web-register .illustration {
        display: none;
    }
}

/* Product */
    /* Product-detail */
    .product-product-detail {
        display: flex;
        justify-content: space-between;
        padding: 0 5rem;
    }

    .product-image-container {
        width: 36%;
    }

    .product-image-container .product-image-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .product-image-container .product-image img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 6px;
    }

    .product-image-container .product-thumbs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 1rem;
    }

    .product-image-container .product-thumbs div {
        width: 18%;
        cursor: pointer;
        transition: all 250ms ease;
    }

    .product-image-container .product-thumbs div.active {
        box-shadow: 0px 3px 7px rgba(0, 0, 0, .4);
        border-radius: 6px;
    }

    .product-image-container .product-thumbs div.active img {
        border-radius: 6px;
    }

    .product-image-container .product-thumbs div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 3px;
    }

    .product-image-container .product-thumbs div:hover {
        box-shadow: 0px 3px 7px rgba(0, 0, 0, .4);
        border-radius: 6px;
        transform: translateY(-5px);
    }

    .product-detail-container {
        width: 58%;
        font-family: 'Open Sans', sans-serif;
    }

    .product-detail-container h3.title-product {
        color: #333;
    }

    .product-detail-container div.terjual-dilihat {
        font-size: 15px;
        margin-top: 6px;
        color: #565656;
    }

    .product-detail-container div.terjual-dilihat span {
        font-weight: 600;
    }

    .product-detail-container .product-order-desc-container {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

    .product-detail-container .product-order-desc-container .product-order-desc {
        border-top: 1px solid #ddd;
        padding: 1.2rem 0;
        display: flex;
    }

    .product-detail-container .product-order-desc-container .product-order-desc .label {
        width: 20%;
        font-weight: 600;
        font-size: 15px;
        color: #444;
    }

    .product-detail-container .product-order-desc-container .product-order-desc .desc {
        width: 78%;
    }

    .product-detail-container .product-order-desc-container .product-order-desc .desc.harga-desc h5 {
        display: flex;
        align-items: center;
        color: #aaa;
        text-decoration: line-through;
    }

    .product-detail-container .product-order-desc-container .product-order-desc .desc.harga-desc h5 span {
        font-size: 12px;
        color: #ce1c6c;
        background-color: #f8e2ec;
        padding: .1rem .5rem;
        border-radius: 2px;
        text-decoration: none;
        margin-right: 9px;
    }

    .product-detail-container .product-order-desc-container .product-order-desc .desc.harga-desc h3 {
        margin-top: .5rem;
    }

    .product-detail-container .product-order-desc-container .product-order-desc .desc.jumlah-desc {
        display: flex;
        align-items: center;
    }

    .product-detail-container .product-order-desc-container .product-order-desc .desc.jumlah-desc button {
        width: 23px;
        height: 23px;
        border-radius: 11.5px;
        border: none;
        font-size: 19px;
        font-weight: 900;
        background-color: #e95d9c;
        color: #fff;
        cursor: pointer;
    }

    .product-detail-container .product-order-desc-container .product-order-desc .desc.jumlah-desc input {
        margin: 0 9px;
        height: 27px;
        border: none;
        border-bottom: 1px solid #bbb;
        width: 50px;
        text-align: center;
        font-size: 19px;
        padding-bottom: 6px;
        margin-top: 3px;
    }

    .product-detail-container .product-order-desc-container .product-order-desc .desc.info-product-desc {
        display: flex;
        align-items: center;
    }

    .product-detail-container .product-order-desc-container .product-order-desc .desc.info-product-desc .info-product {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        padding: 0 1.25rem;
        color: #777;
    }

    .product-detail-container .product-order-desc-container .product-order-desc .desc.info-product-desc .info-product:first-child {
        border-right: 1px solid #bbb;
        padding-left: 0;
    }

    .product-detail-container .product-order-desc-container .product-order-desc .desc.info-product-desc .info-product .desc-info {
        font-weight: bold;
        color: #444;
        margin-top: .3rem;
    }

    .product-detail-container .product-order-desc-container .product-order-desc .desc.varian-warna-desc {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .product-detail-container .product-order-desc-container .product-order-desc .desc.varian-warna-desc .warna {
        height: 40px;
        border: 1px solid #aaa;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 0 5.5px;
        cursor: pointer;
        margin-right: 10px;
        margin-bottom: 9px;
    }

    .product-detail-container .product-order-desc-container .product-order-desc .desc.varian-warna-desc .warna .color {
        width: 28px;
        height: 28px;
        border-radius: 7px;
    }

    .product-detail-container .product-order-desc-container .product-order-desc .desc.varian-warna-desc .warna .text {
        margin-left: 7px;
        font-size: 13px;
        color: #666;
    }

    @media screen and (max-width: 1024px) {
        .product-product-detail {
            flex-direction: column;
            padding: 0 1rem;
        }
    
        .product-image-container {
            width: 100%;
        }
    
        .product-image-container .product-image-container {
            display: flex;
        }
    
        .product-image-container .product-thumbs {
            margin-top: .7rem;
        }
    
        .product-detail-container {
            width: 100%;
            margin-top: 1.5rem;
        }
    
        .product-detail-container h3.title-product {
            font-size: 17px;
        }
    
        .product-detail-container div.terjual-dilihat {
            font-size: 13px;
            margin-top: 10px;
        }
    
        .product-detail-container div.terjual-dilihat span {
            font-weight: 600;
        }
    
        .product-detail-container .product-order-desc-container .product-order-desc {
            padding: .75rem 0;
        }
    
        .product-detail-container .product-order-desc-container .product-order-desc .label {
            width: 35%;
            font-size: 13px;
        }
    
        .product-detail-container .product-order-desc-container .product-order-desc .desc {
            width: 63%;
            justify-content: flex-end !important;
        }

        .product-detail-container .product-order-desc-container .product-order-desc .desc.harga-desc {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    
        .product-detail-container .product-order-desc-container .product-order-desc .desc.info-product-desc .info-product {
            font-size: 13px;
        }

        .product-detail-container .product-order-desc-container .product-order-desc .desc.info-product-desc .info-product:last-child {
            padding-right: 0;
        }
    
        .product-detail-container .product-order-desc-container .product-order-desc .desc.varian-warna-desc .warna {
            margin-right: 0px;
            margin-left: 8px;
            margin-bottom: 7px;
        }
    
        .product-detail-container .product-order-desc-container .product-order-desc .desc.varian-warna-desc .warna .text {
            margin-left: 7px;
            font-size: 12px;
        }
    }

    /* Product Description Header */
    .product-product-description-header {
        font-family: 'Open Sans', sans-serif;
        padding: 0 5rem;
        margin-top: 2.25rem;
    }

    .product-product-description-header .product-desc-wrapper {
        margin-bottom: 1.3rem;
    }

    .product-product-description-header .product-desc-wrapper h3.title {
        color: #c41765;
        margin-bottom: .4rem;
    }

    .product-product-description-header .product-desc-wrapper h5.ulasan-count {
        margin-top: 1.1rem;
        margin-bottom: .3rem;
        color: #555;
    }

    .product-product-description-header .product-desc-wrapper p.desc-product {
        color: #666;
        font-size: 14px;
        line-height: 25px;
    }

    .product-product-description-header .product-desc-wrapper .ulasan-wrapper {
        display: flex;
        flex-direction: column;
    }

    .product-product-description-header .product-desc-wrapper .ulasan-wrapper .ulasan {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #bbb;
        padding: 1.3rem 0;
    }

    .product-product-description-header .product-desc-wrapper .ulasan-wrapper .ulasan .account {
        width: 17%;
        display: flex;
        align-items: center;
    }

    .product-product-description-header .product-desc-wrapper .ulasan-wrapper .ulasan .account .photo {
        width: 46px;
        height: 46px;
    }

    .product-product-description-header .product-desc-wrapper .ulasan-wrapper .ulasan .account .photo img {
        width: 100%;
        height: 100%;
        border-radius: 23px;
    }

    .product-product-description-header .product-desc-wrapper .ulasan-wrapper .ulasan .account .info {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .product-product-description-header .product-desc-wrapper .ulasan-wrapper .ulasan .account .info a.name {
        font-weight: 700;
        font-size: 14px;
        color: #DB2777;
        text-decoration: none;
    }

    .product-product-description-header .product-desc-wrapper .ulasan-wrapper .ulasan .account .info span.date {
        font-size: 13px;
        color: #444;
    }

    .product-product-description-header .product-desc-wrapper .ulasan-wrapper .ulasan .comment {
        width: 80%;
    }

    .product-product-description-header .product-desc-wrapper .ulasan-wrapper .ulasan .comment p.comment-user {
        font-size: 14px;
        color: #444;
        line-height: 23px;
    }

    @media screen and (max-width: 1024px) {
        .product-product-description-header {
            padding: 0 1.5rem;
            margin-top: 2rem;
        }
    
        .product-product-description-header .product-desc-wrapper {
            margin-bottom: 1rem;
        }
    
        .product-product-description-header .product-desc-wrapper h3.title {
            font-size: 15px;
        }
    
        .product-product-description-header .product-desc-wrapper h5.ulasan-count {
            margin-bottom: 0rem;
            color: #555;
        }
    
        .product-product-description-header .product-desc-wrapper p.desc-product {
            font-size: 13px;
            line-height: 24px;
        }
    
        .product-product-description-header .product-desc-wrapper .ulasan-wrapper {
            display: flex;
            flex-direction: column;
        }
    
        .product-product-description-header .product-desc-wrapper .ulasan-wrapper .ulasan {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #bbb;
            padding: 1rem 0;
        }
    
        .product-product-description-header .product-desc-wrapper .ulasan-wrapper .ulasan .account {
            width: 37%;
            display: flex;
            align-items: center;
        }
    
        .product-product-description-header .product-desc-wrapper .ulasan-wrapper .ulasan .account .photo {
            width: 26px;
            height: 26px;
        }
    
        .product-product-description-header .product-desc-wrapper .ulasan-wrapper .ulasan .account .photo img {
            border-radius: 13px;
        }
    
        .product-product-description-header .product-desc-wrapper .ulasan-wrapper .ulasan .account .info {
            margin-left: 12px;
        }
    
        .product-product-description-header .product-desc-wrapper .ulasan-wrapper .ulasan .account .info a.name {
            font-size: 13px;
        }
    
        .product-product-description-header .product-desc-wrapper .ulasan-wrapper .ulasan .account .info span.date {
            font-size: 12px;
        }
    
        .product-product-description-header .product-desc-wrapper .ulasan-wrapper .ulasan .comment {
            width: 60%;
        }
    
        .product-product-description-header .product-desc-wrapper .ulasan-wrapper .ulasan .comment p.comment-user {
            font-size: 13px;
            line-height: 20px;
        }
    }

    /* Product Comment Box */
    .product-comment-box {
        padding: 0 5rem;
        font-family: 'Open Sans', sans-serif;
    }

    .product-comment-box form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .product-comment-box form .comment-box {
        width: 100%;
    }

    .product-comment-box form .comment-box textarea {
        width: 100%;
        border: 1px solid #bbb;
        border-bottom: none;
        padding: 1rem;
        border-radius: 3px;
        color: #555;
    }

    .product-comment-box form .comment-box textarea:focus {
        border: none;
        outline: 1px solid #DB2777;
    }

    .product-comment-box form .send-box {
        width: 100%;
        border: 1px solid #bbb;
        border-radius: 3px;
        display: flex;
        justify-content: flex-end;
        padding: .6rem .7rem;
        margin-top: 1rem;
    }

    .product-comment-box form .send-box button {
        border: none;
        background-color: #DB2777;
        color: #fff;
        font-weight: 600;
        font-size: 15px;
        padding: .5rem 2rem;
        border-radius: 4px;
        cursor: pointer;
    }

    @media screen and (max-width: 1024px) {
        .product-comment-box {
            padding: 0 1.5rem;
        }
    
        .product-comment-box form .comment-box textarea {
            padding: .7rem;
            font-size: 13px;
        }
    
        .product-comment-box form .send-box {
            padding: .5rem .5rem;
            margin-top: .7rem;
        }
    
        .product-comment-box form .send-box button {
            font-size: 12px;
        }
    }

    /* Related Product */
    h4.related-product-title {
        color: #DB2777;
        margin-top: .5rem;
        margin-bottom: -.5rem;
    }

/* Account */

    /* Index */
    .account-index {
        margin-top: 6rem;
        font-family: 'Open Sans', sans-serif;
    }

    .account-index .title {
        font-family: 'Open Sans', sans-serif;
    }

    .account-profile {
        padding: 0 5rem;
        font-family: 'Open Sans', sans-serif;
        margin-top: .7rem;
    }

    .account-profile .link-wrapper {
        display: flex;
        width: 100%;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border: 1px solid #ddd;
    }

    .account-profile .link-wrapper a {
        background-color: #fff;
        height: 100%;
        padding: 1rem;
        margin-right: .5rem;
        text-decoration: none;
        font-size: 14px;
        color: #888;
    }

    .account-profile .link-wrapper a.active {
        color: #DB2777;
        border-bottom: 2px solid #DB2777;
    }

    .account-profile .content-wrapper {
        border: 1px solid #ddd;
    }

    .account-profile .content-wrapper .profile-wrapper {
        display: flex;
    }

    .account-profile .content-wrapper .profile-wrapper .photo-profile-wrapper {
        width: 25%;
    }

    .account-profile .content-wrapper .profile-wrapper .photo-profile-wrapper form {
        display: flex;
        flex-direction: column;
    }

    .account-profile .content-wrapper .profile-wrapper .photo-profile-wrapper form img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
    }

    .account-profile .content-wrapper .profile-wrapper .photo-profile-wrapper form button {
        width: 100%;
        padding: .4rem 0;
        margin-top: .6rem;
        cursor: pointer;
        background: #fafafa;
        border: 1px solid #ddd;
        color: #555;
    }

    .account-profile .content-wrapper .profile-wrapper .photo-profile-wrapper form input {
        display: none;
    }

    .account-profile .content-wrapper .profile-wrapper .photo-profile-wrapper form .desc {
        font-size: 12px;
        margin-top: .9rem;
        color: #555;
    }

    .account-profile .content-wrapper .profile-wrapper .photo-profile-wrapper form .desc p {
        margin-bottom: 7px;
    }

    .account-profile .content-wrapper .profile-wrapper .photo-profile-wrapper form a {
        width: 100%;
        background: #fafafa;
        border: 1px solid #ddd;
        text-align: center;
        padding: .4rem 0;
        font-size: 13px;
        color: #333;
        text-decoration: none;
        margin-top: 2rem;
    }

    .account-profile .content-wrapper .explain-wrapper {
        padding: 0 3rem;
        width: 100%;
    }

    .account-profile .content-wrapper .explain-wrapper .data-group {
        width: 100%;
    }

    .account-profile .content-wrapper .explain-wrapper .data-group h5 {
        color: #666;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: .5rem;
    }

    .account-profile .content-wrapper .explain-wrapper .data-group .row-group {
        display: flex;
        width: 100%;
        font-size: 14px;
        color: #666;
        margin: 1.3rem 0;
    }

    .account-profile .content-wrapper .explain-wrapper .data-group .row-group .label {
        flex: 1;
        color: #555;
    }

    .account-profile .content-wrapper .explain-wrapper .data-group .row-group .value {
        flex: 3;
    }

    .account-profile .content-wrapper .explain-wrapper .data-group .row-group .value a {
        color: #DB2777;
        text-decoration: none;
        margin-left: .5rem;
        font-size: 13px;
    }

    .account-profile .content-wrapper .explain-wrapper .data-group .row-group .value input {
        border: 1px solid #ccc;
        padding: .4rem;
        font-size: 12px;
        color: #555;
    }

    .account-profile .content-wrapper .explain-wrapper .data-group .row-group .value button {
        cursor: pointer;
        background: #DB2777;
        color: #fff;
        border: none;
        height: 100%;
        padding: 0 .5rem;
        margin-left: 4px;
        font-size: 12px;
        border-radius: 3px
    }

    .account-profile .content-wrapper .explain-wrapper .data-group .row-group .value input:focus {
        outline: none;
    }

    @media screen and (max-width: 1024px) {
        .account-index {
            margin-top: 5rem;
        }
    
        .account-profile {
            padding: 0 1rem;
            margin-top: .5rem;
        }
    
        .account-profile .link-wrapper {
            display: flex;
        }
    
        .account-profile .link-wrapper a {
            padding: .7rem;
            font-size: 13px;
            flex: 1;
            text-align: center;
        }
    
        .account-profile .content-wrapper .profile-wrapper {
            flex-direction: column;
        }
    
        .account-profile .content-wrapper .profile-wrapper .photo-profile-wrapper {
            width: 100%;
        }
    
        .account-profile .content-wrapper .profile-wrapper .photo-profile-wrapper form button {
            margin-top: .9rem;
        }
    
        .account-profile .content-wrapper .profile-wrapper .photo-profile-wrapper form .desc {
            margin-top: 1.1rem;
        }
    
        .account-profile .content-wrapper .profile-wrapper .photo-profile-wrapper form .desc p {
            margin-bottom: 7px;
        }
    
        .account-profile .content-wrapper .profile-wrapper .photo-profile-wrapper form a {
            font-size: 12px;
            margin: 1rem 0 1.5rem;
        }
    
        .account-profile .content-wrapper .explain-wrapper {
            padding: 0 0;
        }
    
        .account-profile .content-wrapper .explain-wrapper .data-group {
            width: 100%;
        }
    
        .account-profile .content-wrapper .explain-wrapper .data-group h5 {
            font-size: 14px;
            margin-bottom: .25rem;
        }
    
        .account-profile .content-wrapper .explain-wrapper .data-group .row-group {
            font-size: 12px;
            margin: 1.2rem 0;
        }
    
        .account-profile .content-wrapper .explain-wrapper .data-group .row-group .value a {
            font-size: 12px;
        }
    }
 
    /* Account Daftar Transaksi */
    .title-account-daftar-transaksi {
        margin-top: 1.5rem;
    }

    .account-daftar-transaksi {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 4px;
        margin-top: .8rem;
        border: 1px solid #ddd;
    }

    .account-daftar-transaksi .sub-transaksi {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        padding: .7rem 0;
        text-decoration: none;
        transition: all 350ms ease;
    }

    .account-daftar-transaksi .sub-transaksi .icon {
        font-size: 1.8rem;
        color: #DB2777;
    }

    .account-daftar-transaksi .sub-transaksi .desc {
        color: #888;
        font-weight: 600;
        font-size: 15px;
        margin-top: 0rem;
    }

    .account-daftar-transaksi .sub-transaksi .count {
        color: #444;
        font-weight: 600;
        font-size: 17px;
        margin-top: .4rem;
    }

    .account-daftar-transaksi .sub-transaksi:hover {
        background-color: #DB2777;
    }

    .account-daftar-transaksi .sub-transaksi:hover .icon {
        color: #fff;
    }

    .account-daftar-transaksi .sub-transaksi:hover .desc {
        color: #fff;
    }

    .account-daftar-transaksi .sub-transaksi:hover .count {
        color: #fff;
    }

    @media screen and (max-width: 1024px) {
        .title-account-daftar-transaksi {
            font-size: 17px;
        }
    
        .account-daftar-transaksi {
            flex-wrap: wrap;
        }
    
        .account-daftar-transaksi .sub-transaksi {
            width: 50%;
        }
    
        .account-daftar-transaksi .sub-transaksi .desc {
            font-size: 14px;
        }
    }

    /* Cart Wrapper */
    .cart-wrapper {
        font-family: 'Open Sans', sans-serif;
        display: flex;
        justify-content: space-between;
        padding: 0 5rem;
        margin-top: 8rem;
    }

    .cart-wrapper .cart-product {
        width: 64%;
    }

    .cart-wrapper .cart-product .choose-all {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 3px solid #dfdfdf;
        padding-bottom: 1.2rem;
    }

    .cart-wrapper .cart-product .choose-all .check {
        display: flex;
        align-items: center;
    }

    .cart-wrapper .cart-product .choose-all .check label {
        margin-left: 1rem;
        font-size: 16px;
        color: #666;
    }

    .cart-wrapper .cart-product .choose-all .remove a {
        font-weight: 600;
        color: #DB2777;
        text-decoration: none;
    }

    .cart-wrapper .cart-product .products-cart {
        margin-top: 2rem;
    }

    .cart-wrapper .cart-product .products-cart .product-cart {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.2rem;
        padding-bottom: 1.2rem;
        border-bottom: 2px solid #eee;
        margin-left: 3rem;
        position: relative;
    }

    .cart-wrapper .cart-product .products-cart .product-cart .product-check {
        position: absolute;
        top: 2rem;
        left: -3rem;
    }

    .cart-wrapper .cart-product .products-cart .product-cart .product {
        display: flex;
    }

    .cart-wrapper .cart-product .products-cart .product-cart .product img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: center;
        border-radius: 4px;
    }

    .cart-wrapper .cart-product .products-cart .product-cart .product .price-and-detail {
        margin-left: 1.6rem;
        display: flex;
        flex-direction: column;
    }

    .cart-wrapper .cart-product .products-cart .product-cart .action-product {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .cart-wrapper .cart-product .products-cart .product-cart .action-product .note a {
        text-decoration: none;
        color: #DB2777;
        font-weight: 600;
        font-size: 15px;
    }

    .cart-wrapper .cart-product .products-cart .product-cart .action-product .action {
        display: flex;
        align-items: center;
    }

    .cart-wrapper .cart-product .products-cart .product-cart .action-product .action .sub-action button {
        width: 23px;
        height: 23px;
        border-radius: 11.5px;
        border: none;
        font-size: 19px;
        font-weight: 900;
        background-color: #e95d9c;
        color: #fff;
        cursor: pointer;
    }

    .cart-wrapper .cart-product .products-cart .product-cart .action-product .action .sub-action input {
        margin: 0 9px;
        height: 27px;
        border: none;
        border-bottom: 1px solid #bbb;
        width: 50px;
        text-align: center;
        font-size: 19px;
        padding-bottom: 6px;
        margin-top: 3px;
    }

    .cart-wrapper .cart-product .products-cart .product-cart .action-product .action .sub-action a {
        font-size: 20px;
        margin-right: .5rem;
        padding: .7rem;
        color: #666;
        transition: all 150ms ease;
    }

    .cart-wrapper .cart-product .products-cart .product-cart .action-product .action .sub-action a:hover {
        color: #DB2777;
    }

    
    .cart-wrapper .cart-total-price {
        width: 30%;
    }

    .cart-wrapper .cart-total-price .total-wrapper {
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
        border-radius: 4px;
        padding: 1rem 1.4rem;
    }

    .cart-wrapper .cart-total-price .total-wrapper h4 {
        color: #444;
        font-size: 16px;
    }

    .cart-wrapper .cart-total-price .total-wrapper .total-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        font-size: 16px;
    }

    .cart-wrapper .cart-total-price .total-wrapper .total-price .price {
        font-weight: 700;
        color: #DB2777;
    }

    .cart-wrapper .cart-total-price .total-wrapper button {
        width: 100%;
        background-color: #DB2777;
        border: none;
        padding: .9rem 0;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        margin-top: 2rem;
        border-radius: 4px;
        cursor: pointer;
    }

    @media screen and (max-width: 1024px) {
        .cart-wrapper {
            flex-direction: column;
            padding: 0 1rem;
            margin-top: 6rem;
        }
    
        .cart-wrapper .cart-product {
            width: 100%;
        }
    
        .cart-wrapper .cart-product .choose-all {
            padding-bottom: 1rem;
        }
    
        .cart-wrapper .cart-product .choose-all .check label {
            margin-left: .5rem;
            font-size: 14px;
        }
    
        .cart-wrapper .cart-product .choose-all .remove a {
            font-size: 14px;
        }
    
        .cart-wrapper .cart-product .products-cart {
            margin-top: 1.4rem;
        }
    
        .cart-wrapper .cart-product .products-cart .product-cart {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.2rem;
            padding-bottom: 1.2rem;
            border-bottom: 2px solid #eee;
            margin-left: 1.9rem;
            position: relative;
        }
    
        .cart-wrapper .cart-product .products-cart .product-cart .product-check {
            position: absolute;
            top: 2rem;
            left: -1.8rem;
        }
    
        .cart-wrapper .cart-product .products-cart .product-cart .product {
            display: flex;
        }
    
        .cart-wrapper .cart-product .products-cart .product-cart .product img {
            width: 70px;
            height: 70px;
        }
    
        .cart-wrapper .cart-product .products-cart .product-cart .product .price-and-detail {
            margin-left: 1rem;
            display: flex;
            flex-direction: column;
        }

        .cart-wrapper .cart-product .products-cart .product-cart .product .price-and-detail h4.name {
            font-size: 12px;
            font-weight: 500;
            color: #444;
        }

        .cart-wrapper .cart-product .products-cart .product-cart .product .price-and-detail .price {
            font-size: 13px;
            margin-top: .2rem;
        }
    
        .cart-wrapper .cart-product .products-cart .product-cart .action-product {
            margin-top: .7rem;
            flex-direction: column;
        }
    
        .cart-wrapper .cart-product .products-cart .product-cart .action-product .note a {
            font-size: 13px;
        }
    
        .cart-wrapper .cart-product .products-cart .product-cart .action-product .action {
            justify-content: flex-end;
            margin-top: .9rem;
        }
    
        .cart-wrapper .cart-product .products-cart .product-cart .action-product .action .sub-action button {
            width: 20px;
            height: 20px;
            border-radius: 10px;
            font-size: 17px;
        }
    
        .cart-wrapper .cart-product .products-cart .product-cart .action-product .action .sub-action input {
            height: 20px;
            width: 45px;
            font-size: 17px;
            padding-bottom: 4px;
            margin-top: 3px;
        }
    
        .cart-wrapper .cart-product .products-cart .product-cart .action-product .action .sub-action a {
            font-size: 18px;
            margin-right: .4rem;
            padding: .6rem;
        }
        
        .cart-wrapper .cart-total-price {
            width: 100%;
            position: fixed;
            z-index: 999;
            bottom: 0;
            left: 0;
        }
    
        .cart-wrapper .cart-total-price .total-wrapper {
            padding: .85rem;
            background-color: #fff;
        }
    
        .cart-wrapper .cart-total-price .total-wrapper h4 {
            font-size: 14px;
        }
    
        .cart-wrapper .cart-total-price .total-wrapper .total-price {
            margin-top: .7rem;
        }
    
        .cart-wrapper .cart-total-price .total-wrapper .total-price .price {
            font-weight: 700;
            color: #DB2777;
        }
    
        .cart-wrapper .cart-total-price .total-wrapper button {
            margin-top: 1.7rem;
        }
    }