/* Header Products Wrapper */
.products-container {
    margin-top: 2.5rem;
    padding: 0 5rem;
    font-family: 'Open Sans', sans-serif;
}

.products-container .products-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products-container .products-text-wrapper a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.products-container .products-text-wrapper a:hover {
    color: #333;
    text-decoration: underline;
}

.products-container hr{
    border: none;
    width: 100%;
    height: 1.4px;
    background: #bbb;
    margin-top: .3rem;
}

@media screen and (max-width: 991px) {
    .products-container {
        margin-top: 1.3rem;
        padding: 0 1.5rem;
    }

    .products-container .products-text-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .products-container .products-text-wrapper a {
        color: #000;
        text-decoration: none;
        font-weight: 600;
    }

    .products-container .products-text-wrapper a:hover {
        color: #333;
        text-decoration: underline;
    }

    .products-container hr{
        border: none;
        width: 100%;
        height: 1.4px;
        background: #bbb;
        margin-top: .3rem;
    }
}


/* Products Wrapper */
.products-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
    width: 100%;
}

.products-wrapper .product {
    background-color: #fff;
    width: 220px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 1.8rem;
    text-decoration: none;
}

.products-wrapper .product .thumb-product {
    position: relative;
}

.products-wrapper .product .thumb-product img.product-image {
    width: 220px;
    height: 220px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.products-wrapper .product .thumb-product img.promo-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
}

.products-wrapper .product .desc-product {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.products-wrapper .product .desc-product h5 {
    color: #222;
}

.products-wrapper .product .desc-product .price-wrapper {
    margin-top: 1rem;
}

.products-wrapper .product .desc-product .price-wrapper h4 {
    color: #e00c6c;
}

.products-wrapper .product .desc-product .price-wrapper .discount {
    display: flex;
    margin-top: .3rem;
}

.products-wrapper .product .desc-product .price-wrapper .discount h5 {
    font-weight: 600;
}

.products-wrapper .product .desc-product .price-wrapper .discount span {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
    color: rgb(243, 21, 106);
}

.products-wrapper .product .desc-product .info-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.products-wrapper .product .desc-product .info-product .stok {
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

.products-wrapper .product .desc-product .info-product .sold {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

@media screen and (max-width: 991px) {
    .products-wrapper {
        flex-wrap: nowrap;
        margin-top: 1.7rem;
    }
    
    .products-wrapper .product {
        background-color: #fff;
        margin: 0 5px;
        border-radius: 5px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
        margin-bottom: 1.8rem;
    }

    .products-wrapper.not-using-slick .product {
        width: 48%;
        margin: 0;
        margin-bottom: .9rem;
    }

    .products-wrapper .product .thumb-product {
        position: relative;
    }
    
    .products-wrapper .product .thumb-product img.product-image {
        width: 100%;
        height: 150px;
    }
    
    .products-wrapper .product .thumb-product img.promo-label {
        width: 50px;
    }
    
    .products-wrapper .product .desc-product {
        padding: .8rem;
    }
    
    .products-wrapper .product .desc-product .price-wrapper {
        margin-top: .7rem;
    }
    
    .products-wrapper .product .desc-product .price-wrapper h4 {
        color: #e00c6c;
        font-size: 15px;
    }
    
    .products-wrapper .product .desc-product .price-wrapper .discount {
        display: flex;
        flex-direction: column;
        margin-top: .8rem;
        font-size: 13.5px;
    }
    
    .products-wrapper .product .desc-product .price-wrapper .discount h5 {
        font-weight: 600;
    }
    
    .products-wrapper .product .desc-product .price-wrapper .discount span {
        margin-left: 0px;
        font-size: 13px;
        margin-top: .2rem;
    }
    
    .products-wrapper .product .desc-product .info-product {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.5rem;
    }
    
    .products-wrapper .product .desc-product .info-product .stok {
        font-weight: 600;
        font-size: 12px;
    }
    
    .products-wrapper .product .desc-product .info-product .sold {
        font-size: 12px;
        font-weight: 500;
        color: #333;
    }
}

/* Slick */
.pink-toggle .slick-prev:before {
    color: #e00c6c !important;
    background-color: #eee;
  }

.pink-toggle .slick-next:before {
    color: #e00c6c !important;
    background-color: #eee;
}

.slick-prev.slick-arrow {
    margin-left: 4px;
}

.slick-next.slick-arrow {
    margin-right: 4px;
}

/* Breadcrumb */
.breadcrumb {
    padding: 1.5rem 5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.breadcrumb ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.breadcrumb ul li {
    margin-right: .7rem;
    display: flex;
    align-items: center;
}

.breadcrumb ul li a {
    color: #DB2777;
    text-decoration: none;
}

.breadcrumb ul li i {
    margin-left: .7rem;
    color: #555;
    font-size: 24px;
    margin-top: 3px;
}

.breadcrumb ul li span {
    color: #555;
    font-weight: 500;
}

@media screen and (max-width: 991px) {
    .breadcrumb {
        padding: 1rem;
        font-size: 13px;
    }

    .breadcrumb ul li {
        margin-right: .5rem;
    }
    
    .breadcrumb ul li i {
        margin-left: .5rem;
        font-size: 20px;
        margin-top: 2px;
    }
}

/* product-bottom-navigation-order */
.product-bottom-navigation-order {
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    box-shadow: 0px 0px 4px #db277893;
    padding: 1rem 5rem;
}

.product-bottom-navigation-order div.sub {
    margin-left: 1rem !important;
}

.product-bottom-navigation-order .total {
    color: #444;
}

.product-bottom-navigation-order .favorite {
    color: #666;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-bottom-navigation-order .favorite:hover {
    color: #DB2777;
}

.product-bottom-navigation-order .beli-langsung {
    color: #DB2777;
    font-weight: 600;
    border: 1px solid #DB2777;
    border-radius: 4px;
    font-size: 15px;
    padding: .5rem 1rem;
    cursor: pointer;
}

.product-bottom-navigation-order .add-to-cart {
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    background-color: #DB2777;
    font-size: 15px;
    padding: .5rem 1rem;
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .product-bottom-navigation-order {
        padding: 1rem 1rem;
        justify-content: space-between;
    }

    .product-bottom-navigation-order div.sub {
        margin-left: 0rem;
    }

    .product-bottom-navigation-order .total {
        display: none;
    }
    
    .product-bottom-navigation-order .favorite {
        width: 6%;
    }
    
    .product-bottom-navigation-order .favorite:hover {
        color: #DB2777;
    }
    
    .product-bottom-navigation-order .beli-langsung {
        color: #DB2777;
        font-weight: 600;
        border: 1px solid #DB2777;
        border-radius: 4px;
        font-size: 14px;
        padding: .5rem 1rem;
        cursor: pointer;
        width: 44%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .product-bottom-navigation-order .add-to-cart {
        color: #fff;
        font-weight: 600;
        border-radius: 4px;
        background-color: #DB2777;
        font-size: 14px;
        padding: .5rem 1rem;
        cursor: pointer;
        width: 44%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .product-bottom-navigation-order .add-to-cart .mobile {
        display: none;
    }
}

/* Padding Responsive */
.padding-responsive {
    padding: 0 5rem;
}

@media screen and (max-width: 991px) {
    .padding-responsive {
        padding: 0 1rem;
    }
}

/* Form Validation */
.is-invalid {
    border: 1px solid  rgb(255, 46, 46) !important;
}

.invalid-feedback {
    color: rgb(255, 46, 46);
    font-size: 13px;
    margin-top: 5px;
}