/* Header Products Wrapper */
.products-container {
    margin-top: 2.5rem;
    padding: 0 5rem;
    font-family: 'Open Sans', sans-serif;
}

.products-container .products-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products-container .products-text-wrapper h2 {
    color: #333;
}

.products-container .products-text-wrapper a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

.products-container .products-text-wrapper a:hover {
    color: #333;
    text-decoration: underline;
}

.products-container hr{
    border: none;
    width: 100%;
    height: 1.4px;
    background: #bbb;
    margin-top: .3rem;
}

@media screen and (max-width: 991px) {
    .products-container {
        margin-top: 1.3rem;
        padding: 0 1.5rem;
    }

    .products-container .products-text-wrapper a {
        text-decoration: none;
        font-weight: 600;
        font-size: 14px;
    }

    .products-container .products-text-wrapper h2 {
        font-size: 18px;
    }

    .products-container hr{
        margin-top: 0rem;
    }
}


/* Products Wrapper */
.products-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    width: 100%;
    align-items: flex-start;
}

.products-wrapper .product {
    background-color: #fff;
    width: 220px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    margin-bottom: 1.8rem;
    text-decoration: none;
    transition: all 250ms ease;
}

.products-wrapper .empty-product-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: -1rem;
}

.products-wrapper .empty-product-wrapper img.img-empty-product {
    width: 35%;
}

.products-wrapper .empty-product-wrapper h2.text-empty {
    color: #787878;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 27px;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1280px) {
    .products-wrapper .empty-product-wrapper {
        margin-top: 0rem;
    }
    
    .products-wrapper .empty-product-wrapper img.img-empty-product {
        width: 90%;
    }
    
    .products-wrapper .empty-product-wrapper h2.text-empty {
        font-size: 20px;
        margin-bottom: 1rem;
    }

    .products-wrapper .empty-product-wrapper h2.text-empty span {
        margin-top: .3rem;

    }
}

.products-wrapper .product:hover {
    transform: translateY(-5px);
}


.products-wrapper .product .thumb-product {
    position: relative;
}

.products-wrapper .product .thumb-product img.product-image {
    width: 220px;
    height: 220px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.products-wrapper .product .thumb-product img.promo-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
}

.products-wrapper .product .desc-product {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.products-wrapper .product .desc-product h5 {
    color: #333;
    font-weight: 600;
    font-size: 14px;
}

.products-wrapper .product .desc-product .price-wrapper {
    margin-top: 1rem;
}

.products-wrapper .product .desc-product .price-wrapper h4 {
    color: #e00c6c;
}

.products-wrapper .product .desc-product .price-wrapper .discount {
    display: flex;
    margin-top: .3rem;
}

.products-wrapper .product .desc-product .price-wrapper .discount h5 {
    font-weight: 600;
}

.products-wrapper .product .desc-product .price-wrapper .discount span {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
    color: rgb(243, 21, 106);
}

.products-wrapper .product .desc-product .info-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.products-wrapper .product .desc-product .info-product .stok {
    font-weight: 600;
    font-size: 15px;
    color: #333;
}

.products-wrapper .product .desc-product .info-product .sold {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

@media screen and (max-width: 991px) {
    .products-wrapper {
        flex-wrap: nowrap;
        margin-top: 1.7rem;
        justify-content: space-between;
    }
    
    .products-wrapper .product {
        background-color: #fff;
        margin: 0 5px;
        border-radius: 5px;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
        margin-bottom: 1.8rem;
    }

    .products-wrapper.not-using-slick .product {
        width: 48%;
        margin: 0;
        margin-bottom: .9rem;
    }

    .products-wrapper .product .thumb-product {
        position: relative;
    }
    
    .products-wrapper .product .thumb-product img.product-image {
        width: 100%;
        height: 150px;
    }
    
    .products-wrapper .product .thumb-product img.promo-label {
        width: 50px;
    }
    
    .products-wrapper .product .desc-product {
        padding: .8rem;
    }

    .products-wrapper .product .desc-product h5 {
        font-size: 13px;
    }
    
    .products-wrapper .product .desc-product .price-wrapper {
        margin-top: .7rem;
    }
    
    .products-wrapper .product .desc-product .price-wrapper h4 {
        color: #e00c6c;
        font-size: 15px;
    }
    
    .products-wrapper .product .desc-product .price-wrapper .discount {
        display: flex;
        flex-direction: column;
        margin-top: .8rem;
        font-size: 13.5px;
    }
    
    .products-wrapper .product .desc-product .price-wrapper .discount h5 {
        font-weight: 600;
        font-size: 13px;
    }
    
    .products-wrapper .product .desc-product .price-wrapper .discount span {
        margin-left: 0px;
        font-size: 13px;
        margin-top: .2rem;
    }
    
    .products-wrapper .product .desc-product .info-product {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.5rem;
    }
    
    .products-wrapper .product .desc-product .info-product .stok {
        font-weight: 600;
        font-size: 12px;
        color: #333;
    }
    
    .products-wrapper .product .desc-product .info-product .sold {
        font-size: 12px;
        font-weight: 500;
        color: #333;
    }
}

/* Slick */
.pink-toggle .slick-prev:before {
    color: #e00c6c !important;
    background-color: #eee;
  }

.pink-toggle .slick-next:before {
    color: #e00c6c !important;
    background-color: #eee;
}

.slick-prev.slick-arrow {
    margin-left: 4px;
}

.slick-next.slick-arrow {
    margin-right: 4px;
}

/* Breadcrumb */
.breadcrumb {
    padding: 1.5rem 5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.breadcrumb ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.breadcrumb ul li {
    margin-right: .7rem;
    display: flex;
    align-items: center;
}

.breadcrumb ul li a {
    color: #DB2777;
    text-decoration: none;
    transition: all 150ms ease;
}

.breadcrumb ul li a:hover {
    color: #ec6fa7;
}

.breadcrumb ul li i {
    margin-left: .7rem;
    color: #777;
    font-size: 24px;
    margin-top: 3px;
}

.breadcrumb ul li span {
    color: #666;
    font-weight: 500;
}

@media screen and (max-width: 991px) {
    .breadcrumb {
        padding: 1rem;
        font-size: 13px;
    }

    .breadcrumb ul li {
        margin-right: .5rem;
    }
    
    .breadcrumb ul li i {
        margin-left: .5rem;
        font-size: 20px;
        margin-top: 2px;
    }
}

/* product-bottom-navigation-order */
.product-bottom-navigation-order {
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    box-shadow: 0px 0px 4px #db277893;
    padding: 1rem 5rem;
}

.product-bottom-navigation-order div.sub {
    margin-left: 1rem !important;
}

.product-bottom-navigation-order .total {
    color: #555;
    margin-right: .7rem;
}

.product-bottom-navigation-order .favorite {
    color: #888;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .7rem;
    transition: all 250ms ease;
}

.product-bottom-navigation-order .favorite:hover {
    color: #DB2777;
}

.product-bottom-navigation-order .favorite.active {
    color: #DB2777;
}

.product-bottom-navigation-order .beli-langsung {
    color: #DB2777;
    font-weight: 600;
    border: 1px solid #DB2777;
    border-radius: 4px;
    font-size: 15px;
    padding: .5rem 1rem;
    cursor: pointer;
}

.product-bottom-navigation-order .beli-langsung:hover {
    border: 1px solid #dd5994;
    color: #dd5994;
}

.product-bottom-navigation-order .add-to-cart {
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    background-color: #DB2777;
    font-size: 15px;
    padding: .5rem 1rem;
    cursor: pointer;
}

.product-bottom-navigation-order .add-to-cart:hover {
    background-color: #db5792;
}

@media screen and (max-width: 991px) {
    .product-bottom-navigation-order {
        padding: 1rem 1rem;
        justify-content: space-between;
    }

    .product-bottom-navigation-order div.sub {
        margin-left: 0rem;
    }

    .product-bottom-navigation-order .total {
        font-size: 15px;
        margin-right: 0;
    }
    
    .product-bottom-navigation-order .favorite {
        width: 6%;
        margin: 0;
    }
    
    .product-bottom-navigation-order .favorite:hover {
        color: #DB2777;
    }
    
    .product-bottom-navigation-order .beli-langsung {
        color: #DB2777;
        font-weight: 600;
        border: 1px solid #DB2777;
        border-radius: 4px;
        font-size: 14px;
        padding: .5rem 1rem;
        cursor: pointer;
        width: 44%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .product-bottom-navigation-order .add-to-cart {
        color: #fff;
        font-weight: 600;
        border-radius: 4px;
        background-color: #DB2777;
        font-size: 14px;
        padding: .5rem 1rem;
        cursor: pointer;
        width: 44%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .product-bottom-navigation-order .add-to-cart .mobile {
        display: none;
    }
}

/* Padding Responsive */
.padding-responsive {
    padding: 0 5rem;
}

@media screen and (max-width: 991px) {
    .padding-responsive {
        padding: 0 1rem;
    }
}

/* Form Validation */
.is-invalid {
    border: 1px solid  rgb(255, 46, 46) !important;
}

.invalid-feedback {
    color: rgb(255, 46, 46);
    font-size: 13px;
    margin-top: 5px;
}

/* Font Weight */
.font-weight-100 {
    font-weight: 100 !important;
}

.font-weight-200 {
    font-weight: 200 !important;
}

.font-weight-300 {
    font-weight: 300 !important;
}

.font-weight-400 {
    font-weight: 400 !important;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-700 {
    font-weight: 700 !important;
}

.font-weight-800 {
    font-weight: 800 !important;
}

.font-weight-900 {
    font-weight: 900 !important;
}


/* Color */
.text-000 {
    color: #000 !important;
}

.text-111 {
    color: #111 !important;
}

.text-222 {
    color: #222 !important;
}

.text-333 {
    color: #333 !important;
}

.text-444 {
    color: #444 !important;
}

.text-555 {
    color: #555 !important;
}

.text-666 {
    color: #666 !important;
}

.text-777 {
    color: #777 !important;
}

.text-888 {
    color: #888 !important;
}

.text-999 {
    color: #999 !important;
}

.text-aaa {
    color: #aaa !important;
}

.text-bbb {
    color: #bbb !important;
}

.text-ccc {
    color: #ccc !important;
}

.text-ddd {
    color: #ddd !important;
}

.text-eee {
    color: #eee !important;
}

.text-fff {
    color: #fff !important;
}

/* Padding */
.p-1 {
    padding: .1rem;
}

.p-2 {
    padding: .2rem;
}

.p-3 {
    padding: .3rem;
}

.p-4 {
    padding: .4rem;
}

.p-5 {
    padding: .5rem;
}

.p-6 {
    padding: .6rem;
}

.p-7 {
    padding: .7rem;
}

.p-8 {
    padding: .8rem;
}

.p-9 {
    padding: .9rem;
}

.p-10 {
    padding: 1rem;
}

.p-11 {
    padding: 1.1rem;
}

.p-12 {
    padding: 1.2rem;
}

.p-13 {
    padding: 1.3rem;
}

.p-14 {
    padding: 1.4rem;
}

.p-15 {
    padding: 1.5rem;
}

.p-16 {
    padding: 1.6rem;
}

.p-17 {
    padding: 1.7rem;
}

.p-18 {
    padding: 1.8rem;
}

.p-19 {
    padding: 1.9rem;
}

.p-20 {
    padding: 2rem;
}

.p-21 {
    padding: 2.1rem;
}

.p-22 {
    padding: 2.2rem;
}

.p-23 {
    padding: 2.3rem;
}

.p-24 {
    padding: 2.4rem;
}

.p-25 {
    padding: 2.5rem;
}

.p-26 {
    padding: 2.6rem;
}

.p-27 {
    padding: 2.7rem;
}

.p-28 {
    padding: 2.8rem;
}

.p-29 {
    padding: 2.9rem;
}

.p-30 {
    padding: 3rem;
}

.pt-1 {
    padding-top: .1rem;
}

.pt-2 {
    padding-top: .2rem;
}

.pt-3 {
    padding-top: .3rem;
}

.pt-4 {
    padding-top: .4rem;
}

.pt-5 {
    padding-top: .5rem;
}

.pt-6 {
    padding-top: .6rem;
}

.pt-7 {
    padding-top: .7rem;
}

.pt-8 {
    padding-top: .8rem;
}

.pt-9 {
    padding-top: .9rem;
}

.pt-10 {
    padding-top: 1rem;
}

.pt-11 {
    padding-top: 1.1rem;
}

.pt-12 {
    padding-top: 1.2rem;
}

.pt-13 {
    padding-top: 1.3rem;
}

.pt-14 {
    padding-top: 1.4rem;
}

.pt-15 {
    padding-top: 1.5rem;
}

.pt-16 {
    padding-top: 1.6rem;
}

.pt-17 {
    padding-top: 1.7rem;
}

.pt-18 {
    padding-top: 1.8rem;
}

.pt-19 {
    padding-top: 1.9rem;
}

.pt-20 {
    padding-top: 2rem;
}

.pt-21 {
    padding-top: 2.1rem;
}

.pt-22 {
    padding-top: 2.2rem;
}

.pt-23 {
    padding-top: 2.3rem;
}

.pt-24 {
    padding-top: 2.4rem;
}

.pt-25 {
    padding-top: 2.5rem;
}

.pt-26 {
    padding-top: 2.6rem;
}

.pt-27 {
    padding-top: 2.7rem;
}

.pt-28 {
    padding-top: 2.8rem;
}

.pt-29 {
    padding-top: 2.9rem;
}

.pt-30 {
    padding-top: 3rem;
}

.pr-1 {
    padding-right: .1rem;
}

.pr-2 {
    padding-right: .2rem;
}

.pr-3 {
    padding-right: .3rem;
}

.pr-4 {
    padding-right: .4rem;
}

.pr-5 {
    padding-right: .5rem;
}

.pr-6 {
    padding-right: .6rem;
}

.pr-7 {
    padding-right: .7rem;
}

.pr-8 {
    padding-right: .8rem;
}

.pr-9 {
    padding-right: .9rem;
}

.pr-10 {
    padding-right: 1rem;
}

.pr-11 {
    padding-right: 1.1rem;
}

.pr-12 {
    padding-right: 1.2rem;
}

.pr-13 {
    padding-right: 1.3rem;
}

.pr-14 {
    padding-right: 1.4rem;
}

.pr-15 {
    padding-right: 1.5rem;
}

.pr-16 {
    padding-right: 1.6rem;
}

.pr-17 {
    padding-right: 1.7rem;
}

.pr-18 {
    padding-right: 1.8rem;
}

.pr-19 {
    padding-right: 1.9rem;
}

.pr-20 {
    padding-right: 2rem;
}

.pr-21 {
    padding-right: 2.1rem;
}

.pr-22 {
    padding-right: 2.2rem;
}

.pr-23 {
    padding-right: 2.3rem;
}

.pr-24 {
    padding-right: 2.4rem;
}

.pr-25 {
    padding-right: 2.5rem;
}

.pr-26 {
    padding-right: 2.6rem;
}

.pr-27 {
    padding-right: 2.7rem;
}

.pr-28 {
    padding-right: 2.8rem;
}

.pr-29 {
    padding-right: 2.9rem;
}

.pr-30 {
    padding-right: 3rem;
}

.pb-1 {
    padding-bottom: .1rem;
}

.pb-2 {
    padding-bottom: .2rem;
}

.pb-3 {
    padding-bottom: .3rem;
}

.pb-4 {
    padding-bottom: .4rem;
}

.pb-5 {
    padding-bottom: .5rem;
}

.pb-6 {
    padding-bottom: .6rem;
}

.pb-7 {
    padding-bottom: .7rem;
}

.pb-8 {
    padding-bottom: .8rem;
}

.pb-9 {
    padding-bottom: .9rem;
}

.pb-10 {
    padding-bottom: 1rem;
}

.pb-11 {
    padding-bottom: 1.1rem;
}

.pb-12 {
    padding-bottom: 1.2rem;
}

.pb-13 {
    padding-bottom: 1.3rem;
}

.pb-14 {
    padding-bottom: 1.4rem;
}

.pb-15 {
    padding-bottom: 1.5rem;
}

.pb-16 {
    padding-bottom: 1.6rem;
}

.pb-17 {
    padding-bottom: 1.7rem;
}

.pb-18 {
    padding-bottom: 1.8rem;
}

.pb-19 {
    padding-bottom: 1.9rem;
}

.pb-20 {
    padding-bottom: 2rem;
}

.pb-21 {
    padding-bottom: 2.1rem;
}

.pb-22 {
    padding-bottom: 2.2rem;
}

.pb-23 {
    padding-bottom: 2.3rem;
}

.pb-24 {
    padding-bottom: 2.4rem;
}

.pb-25 {
    padding-bottom: 2.5rem;
}

.pb-26 {
    padding-bottom: 2.6rem;
}

.pb-27 {
    padding-bottom: 2.7rem;
}

.pb-28 {
    padding-bottom: 2.8rem;
}

.pb-29 {
    padding-bottom: 2.9rem;
}

.pb-30 {
    padding-bottom: 3rem;
}

.pl-1 {
    padding-left: .1rem;
}

.pl-2 {
    padding-left: .2rem;
}

.pl-3 {
    padding-left: .3rem;
}

.pl-4 {
    padding-left: .4rem;
}

.pl-5 {
    padding-left: .5rem;
}

.pl-6 {
    padding-left: .6rem;
}

.pl-7 {
    padding-left: .7rem;
}

.pl-8 {
    padding-left: .8rem;
}

.pl-9 {
    padding-left: .9rem;
}

.pl-10 {
    padding-left: 1rem;
}

.pl-11 {
    padding-left: 1.1rem;
}

.pl-12 {
    padding-left: 1.2rem;
}

.pl-13 {
    padding-left: 1.3rem;
}

.pl-14 {
    padding-left: 1.4rem;
}

.pl-15 {
    padding-left: 1.5rem;
}

.pl-16 {
    padding-left: 1.6rem;
}

.pl-17 {
    padding-left: 1.7rem;
}

.pl-18 {
    padding-left: 1.8rem;
}

.pl-19 {
    padding-left: 1.9rem;
}

.pl-20 {
    padding-left: 2rem;
}

.pl-21 {
    padding-left: 2.1rem;
}

.pl-22 {
    padding-left: 2.2rem;
}

.pl-23 {
    padding-left: 2.3rem;
}

.pl-24 {
    padding-left: 2.4rem;
}

.pl-25 {
    padding-left: 2.5rem;
}

.pl-26 {
    padding-left: 2.6rem;
}

.pl-27 {
    padding-left: 2.7rem;
}

.pl-28 {
    padding-left: 2.8rem;
}

.pl-29 {
    padding-left: 2.9rem;
}

.pl-30 {
    padding-left: 3rem;
}

.py-1 {
    padding-top: .1rem;
    padding-bottom: .1rem;
}

.py-2 {
    padding-top: .2rem;
    padding-bottom: .2rem;
}

.py-3 {
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.py-4 {
    padding-top: .4rem;
    padding-bottom: .4rem;
}

.py-5 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.py-6 {
    padding-top: .6rem;
    padding-bottom: .6rem;
}

.py-7 {
    padding-top: .7rem;
    padding-bottom: .7rem;
}

.py-8 {
    padding-top: .8rem;
    padding-bottom: .8rem;
}

.py-9 {
    padding-top: .9rem;
    padding-bottom: .9rem;
}

.py-10 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-11 {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
}

.py-12 {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.py-13 {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}

.py-14 {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
}

.py-15 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-16 {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

.py-17 {
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
}

.py-18 {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}

.py-19 {
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
}

.py-20 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-21 {
    padding-top: 2.1rem;
    padding-bottom: 2.1rem;
}

.py-22 {
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
}

.py-23 {
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
}

.py-24 {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}

.py-25 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.py-26 {
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
}

.py-27 {
    padding-top: 2.7rem;
    padding-bottom: 2.7rem;
}

.py-28 {
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;
}

.py-29 {
    padding-top: 2.9rem;
    padding-bottom: 2.9rem;
}

.py-30 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.px-1 {
    padding-left: .1rem;
    padding-right: .1rem;
}

.px-2 {
    padding-left: .2rem;
    padding-right: .2rem;
}

.px-3 {
    padding-left: .3rem;
    padding-right: .3rem;
}

.px-4 {
    padding-left: .4rem;
    padding-right: .4rem;
}

.px-5 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.px-6 {
    padding-left: .6rem;
    padding-right: .6rem;
}

.px-7 {
    padding-left: .7rem;
    padding-right: .7rem;
}

.px-8 {
    padding-left: .8rem;
    padding-right: .8rem;
}

.px-9 {
    padding-left: .9rem;
    padding-right: .9rem;
}

.px-10 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-11 {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
}

.px-12 {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.px-13 {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.px-14 {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.px-15 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.px-16 {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.px-17 {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
}

.px-18 {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}

.px-19 {
    padding-left: 1.9rem;
    padding-right: 1.9rem;
}

.px-20 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-21 {
    padding-left: 2.1rem;
    padding-right: 2.1rem;
}

.px-22 {
    padding-left: 2.2rem;
    padding-right: 2.2rem;
}

.px-23 {
    padding-left: 2.3rem;
    padding-right: 2.3rem;
}

.px-24 {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

.px-25 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.px-26 {
    padding-left: 2.6rem;
    padding-right: 2.6rem;
}

.px-27 {
    padding-left: 2.7rem;
    padding-right: 2.7rem;
}

.px-28 {
    padding-left: 2.8rem;
    padding-right: 2.8rem;
}

.px-29 {
    padding-left: 2.9rem;
    padding-right: 2.9rem;
}

.px-30 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.m-1 {
    margin: .1rem;
}

.m-2 {
    margin: .2rem;
}

.m-3 {
    margin: .3rem;
}

.m-4 {
    margin: .4rem;
}

.m-5 {
    margin: .5rem;
}

.m-6 {
    margin: .6rem;
}

.m-7 {
    margin: .7rem;
}

.m-8 {
    margin: .8rem;
}

.m-9 {
    margin: .9rem;
}

.m-10 {
    margin: 1rem;
}

.m-11 {
    margin: 1.1rem;
}

.m-12 {
    margin: 1.2rem;
}

.m-13 {
    margin: 1.3rem;
}

.m-14 {
    margin: 1.4rem;
}

.m-15 {
    margin: 1.5rem;
}

.m-16 {
    margin: 1.6rem;
}

.m-17 {
    margin: 1.7rem;
}

.m-18 {
    margin: 1.8rem;
}

.m-19 {
    margin: 1.9rem;
}

.m-20 {
    margin: 2rem;
}

.m-21 {
    margin: 2.1rem;
}

.m-22 {
    margin: 2.2rem;
}

.m-23 {
    margin: 2.3rem;
}

.m-24 {
    margin: 2.4rem;
}

.m-25 {
    margin: 2.5rem;
}

.m-26 {
    margin: 2.6rem;
}

.m-27 {
    margin: 2.7rem;
}

.m-28 {
    margin: 2.8rem;
}

.m-29 {
    margin: 2.9rem;
}

.m-30 {
    margin: 3rem;
}

.mt-1 {
    margin-top: .1rem;
}

.mt-2 {
    margin-top: .2rem;
}

.mt-3 {
    margin-top: .3rem;
}

.mt-4 {
    margin-top: .4rem;
}

.mt-5 {
    margin-top: .5rem;
}

.mt-6 {
    margin-top: .6rem;
}

.mt-7 {
    margin-top: .7rem;
}

.mt-8 {
    margin-top: .8rem;
}

.mt-9 {
    margin-top: .9rem;
}

.mt-10 {
    margin-top: 1rem;
}

.mt-11 {
    margin-top: 1.1rem;
}

.mt-12 {
    margin-top: 1.2rem;
}

.mt-13 {
    margin-top: 1.3rem;
}

.mt-14 {
    margin-top: 1.4rem;
}

.mt-15 {
    margin-top: 1.5rem;
}

.mt-16 {
    margin-top: 1.6rem;
}

.mt-17 {
    margin-top: 1.7rem;
}

.mt-18 {
    margin-top: 1.8rem;
}

.mt-19 {
    margin-top: 1.9rem;
}

.mt-20 {
    margin-top: 2rem;
}

.mt-21 {
    margin-top: 2.1rem;
}

.mt-22 {
    margin-top: 2.2rem;
}

.mt-23 {
    margin-top: 2.3rem;
}

.mt-24 {
    margin-top: 2.4rem;
}

.mt-25 {
    margin-top: 2.5rem;
}

.mt-26 {
    margin-top: 2.6rem;
}

.mt-27 {
    margin-top: 2.7rem;
}

.mt-28 {
    margin-top: 2.8rem;
}

.mt-29 {
    margin-top: 2.9rem;
}

.mt-30 {
    margin-top: 3rem;
}

.mr-1 {
    margin-right: .1rem;
}

.mr-2 {
    margin-right: .2rem;
}

.mr-3 {
    margin-right: .3rem;
}

.mr-4 {
    margin-right: .4rem;
}

.mr-5 {
    margin-right: .5rem;
}

.mr-6 {
    margin-right: .6rem;
}

.mr-7 {
    margin-right: .7rem;
}

.mr-8 {
    margin-right: .8rem;
}

.mr-9 {
    margin-right: .9rem;
}

.mr-10 {
    margin-right: 1rem;
}

.mr-11 {
    margin-right: 1.1rem;
}

.mr-12 {
    margin-right: 1.2rem;
}

.mr-13 {
    margin-right: 1.3rem;
}

.mr-14 {
    margin-right: 1.4rem;
}

.mr-15 {
    margin-right: 1.5rem;
}

.mr-16 {
    margin-right: 1.6rem;
}

.mr-17 {
    margin-right: 1.7rem;
}

.mr-18 {
    margin-right: 1.8rem;
}

.mr-19 {
    margin-right: 1.9rem;
}

.mr-20 {
    margin-right: 2rem;
}

.mr-21 {
    margin-right: 2.1rem;
}

.mr-22 {
    margin-right: 2.2rem;
}

.mr-23 {
    margin-right: 2.3rem;
}

.mr-24 {
    margin-right: 2.4rem;
}

.mr-25 {
    margin-right: 2.5rem;
}

.mr-26 {
    margin-right: 2.6rem;
}

.mr-27 {
    margin-right: 2.7rem;
}

.mr-28 {
    margin-right: 2.8rem;
}

.mr-29 {
    margin-right: 2.9rem;
}

.mr-30 {
    margin-right: 3rem;
}

.mb-1 {
    margin-bottom: .1rem;
}

.mb-2 {
    margin-bottom: .2rem;
}

.mb-3 {
    margin-bottom: .3rem;
}

.mb-4 {
    margin-bottom: .4rem;
}

.mb-5 {
    margin-bottom: .5rem;
}

.mb-6 {
    margin-bottom: .6rem;
}

.mb-7 {
    margin-bottom: .7rem;
}

.mb-8 {
    margin-bottom: .8rem;
}

.mb-9 {
    margin-bottom: .9rem;
}

.mb-10 {
    margin-bottom: 1rem;
}

.mb-11 {
    margin-bottom: 1.1rem;
}

.mb-12 {
    margin-bottom: 1.2rem;
}

.mb-13 {
    margin-bottom: 1.3rem;
}

.mb-14 {
    margin-bottom: 1.4rem;
}

.mb-15 {
    margin-bottom: 1.5rem;
}

.mb-16 {
    margin-bottom: 1.6rem;
}

.mb-17 {
    margin-bottom: 1.7rem;
}

.mb-18 {
    margin-bottom: 1.8rem;
}

.mb-19 {
    margin-bottom: 1.9rem;
}

.mb-20 {
    margin-bottom: 2rem;
}

.mb-21 {
    margin-bottom: 2.1rem;
}

.mb-22 {
    margin-bottom: 2.2rem;
}

.mb-23 {
    margin-bottom: 2.3rem;
}

.mb-24 {
    margin-bottom: 2.4rem;
}

.mb-25 {
    margin-bottom: 2.5rem;
}

.mb-26 {
    margin-bottom: 2.6rem;
}

.mb-27 {
    margin-bottom: 2.7rem;
}

.mb-28 {
    margin-bottom: 2.8rem;
}

.mb-29 {
    margin-bottom: 2.9rem;
}

.mb-30 {
    margin-bottom: 3rem;
}

.ml-1 {
    margin-left: .1rem;
}

.ml-2 {
    margin-left: .2rem;
}

.ml-3 {
    margin-left: .3rem;
}

.ml-4 {
    margin-left: .4rem;
}

.ml-5 {
    margin-left: .5rem;
}

.ml-6 {
    margin-left: .6rem;
}

.ml-7 {
    margin-left: .7rem;
}

.ml-8 {
    margin-left: .8rem;
}

.ml-9 {
    margin-left: .9rem;
}

.ml-10 {
    margin-left: 1rem;
}

.ml-11 {
    margin-left: 1.1rem;
}

.ml-12 {
    margin-left: 1.2rem;
}

.ml-13 {
    margin-left: 1.3rem;
}

.ml-14 {
    margin-left: 1.4rem;
}

.ml-15 {
    margin-left: 1.5rem;
}

.ml-16 {
    margin-left: 1.6rem;
}

.ml-17 {
    margin-left: 1.7rem;
}

.ml-18 {
    margin-left: 1.8rem;
}

.ml-19 {
    margin-left: 1.9rem;
}

.ml-20 {
    margin-left: 2rem;
}

.ml-21 {
    margin-left: 2.1rem;
}

.ml-22 {
    margin-left: 2.2rem;
}

.ml-23 {
    margin-left: 2.3rem;
}

.ml-24 {
    margin-left: 2.4rem;
}

.ml-25 {
    margin-left: 2.5rem;
}

.ml-26 {
    margin-left: 2.6rem;
}

.ml-27 {
    margin-left: 2.7rem;
}

.ml-28 {
    margin-left: 2.8rem;
}

.ml-29 {
    margin-left: 2.9rem;
}

.ml-30 {
    margin-left: 3rem;
}

@media screen and (min-width: 1025px) {
    .mb-lg-1 {
        margin-bottom: .1rem;
    }
    
    .mb-lg-2 {
        margin-bottom: .2rem;
    }
    
    .mb-lg-3 {
        margin-bottom: .3rem;
    }
    
    .mb-lg-4 {
        margin-bottom: .4rem;
    }
    
    .mb-lg-5 {
        margin-bottom: .5rem;
    }
    
    .mb-lg-6 {
        margin-bottom: .6rem;
    }
    
    .mb-lg-7 {
        margin-bottom: .7rem;
    }
    
    .mb-lg-8 {
        margin-bottom: .8rem;
    }
    
    .mb-lg-9 {
        margin-bottom: .9rem;
    }
    
    .mb-lg-10 {
        margin-bottom: 1rem;
    }
    
    .mb-lg-11 {
        margin-bottom: 1.1rem;
    }
    
    .mb-lg-12 {
        margin-bottom: 1.2rem;
    }
    
    .mb-lg-13 {
        margin-bottom: 1.3rem;
    }
    
    .mb-lg-14 {
        margin-bottom: 1.4rem;
    }
    
    .mb-lg-15 {
        margin-bottom: 1.5rem;
    }
    
    .mb-lg-16 {
        margin-bottom: 1.6rem;
    }
    
    .mb-lg-17 {
        margin-bottom: 1.7rem;
    }
    
    .mb-lg-18 {
        margin-bottom: 1.8rem;
    }
    
    .mb-lg-19 {
        margin-bottom: 1.9rem;
    }
    
    .mb-lg-20 {
        margin-bottom: 2rem;
    }
    
    .mb-lg-21 {
        margin-bottom: 2.1rem;
    }
    
    .mb-lg-22 {
        margin-bottom: 2.2rem;
    }
    
    .mb-lg-23 {
        margin-bottom: 2.3rem;
    }
    
    .mb-lg-24 {
        margin-bottom: 2.4rem;
    }
    
    .mb-lg-25 {
        margin-bottom: 2.5rem;
    }
    
    .mb-lg-26 {
        margin-bottom: 2.6rem;
    }
    
    .mb-lg-27 {
        margin-bottom: 2.7rem;
    }
    
    .mb-lg-28 {
        margin-bottom: 2.8rem;
    }
    
    .mb-lg-29 {
        margin-bottom: 2.9rem;
    }
    
    .mb-lg-30 {
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: 1025px) {
    .mr-lg-1 {
        margin-right: .1rem;
    }
    
    .mr-lg-2 {
        margin-right: .2rem;
    }
    
    .mr-lg-3 {
        margin-right: .3rem;
    }
    
    .mr-lg-4 {
        margin-right: .4rem;
    }
    
    .mr-lg-5 {
        margin-right: .5rem;
    }
    
    .mr-lg-6 {
        margin-right: .6rem;
    }
    
    .mr-lg-7 {
        margin-right: .7rem;
    }
    
    .mr-lg-8 {
        margin-right: .8rem;
    }
    
    .mr-lg-9 {
        margin-right: .9rem;
    }
    
    .mr-lg-10 {
        margin-right: 1rem;
    }
    
    .mr-lg-11 {
        margin-right: 1.1rem;
    }
    
    .mr-lg-12 {
        margin-right: 1.2rem;
    }
    
    .mr-lg-13 {
        margin-right: 1.3rem;
    }
    
    .mr-lg-14 {
        margin-right: 1.4rem;
    }
    
    .mr-lg-15 {
        margin-right: 1.5rem;
    }
    
    .mr-lg-16 {
        margin-right: 1.6rem;
    }
    
    .mr-lg-17 {
        margin-right: 1.7rem;
    }
    
    .mr-lg-18 {
        margin-right: 1.8rem;
    }
    
    .mr-lg-19 {
        margin-right: 1.9rem;
    }
    
    .mr-lg-20 {
        margin-right: 2rem;
    }
    
    .mr-lg-21 {
        margin-right: 2.1rem;
    }
    
    .mr-lg-22 {
        margin-right: 2.2rem;
    }
    
    .mr-lg-23 {
        margin-right: 2.3rem;
    }
    
    .mr-lg-24 {
        margin-right: 2.4rem;
    }
    
    .mr-lg-25 {
        margin-right: 2.5rem;
    }
    
    .mr-lg-26 {
        margin-right: 2.6rem;
    }
    
    .mr-lg-27 {
        margin-right: 2.7rem;
    }
    
    .mr-lg-28 {
        margin-right: 2.8rem;
    }
    
    .mr-lg-29 {
        margin-right: 2.9rem;
    }
    
    .mr-lg-30 {
        margin-right: 3rem;
    }
}

.bg-success {
    background: green !important;
}

.text-white {
    color: #fff !important;
}

.border-0 {
    border: 0px !important;
}

.d-none {
    display: none !important; 
}

.justify-content-space-between {
    justify-content: space-between !important;
}

.bg-pink {
    background-color: #DB2777 !important;
}

.bg-white {
    background-color: #fff !important;
}

.text-pink {
    color: #DB2777 !important;
}

.mt-n1 {
    margin-top: -.1rem !important;
}

.mt-n2 {
    margin-top: -.2rem !important;
}

.mt-n3 {
    margin-top: -.3rem !important;
}

.mt-n4 {
    margin-top: -.4rem !important;
}

.mt-n5 {
    margin-top: -.5rem !important;
}

.mt-n6 {
    margin-top: -.6rem !important;
}

.mt-n7 {
    margin-top: -.7rem !important;
}

.mt-n8 {
    margin-top: -.8rem !important;
}

.mt-n9 {
    margin-top: -.9rem !important;
}

.mt-n10 {
    margin-top: -1rem !important;
}

.mt-n11 {
    margin-top: -1.1rem !important;
}

.mt-n12 {
    margin-top: -1.2rem !important;
}

.mt-n13 {
    margin-top: -1.3rem !important;
}

.mt-n14 {
    margin-top: -1.4rem !important;
}

.mt-n15 {
    margin-top: -1.5rem !important;
}

.mt-n16 {
    margin-top: -1.6rem !important;
}

.mt-n17 {
    margin-top: -1.7rem !important;
}

.mt-n18 {
    margin-top: -1.8rem !important;
}

.mt-n19 {
    margin-top: -1.9rem !important;
}

.mt-n20 {
    margin-top: -2rem !important;
}

.mt-n21 {
    margin-top: -2.1rem !important;
}

.mt-n22 {
    margin-top: -2.2rem !important;
}

.mt-n23 {
    margin-top: -2.3rem !important;
}

.mt-n24 {
    margin-top: -2.4rem !important;
}

.mt-n25 {
    margin-top: -2.5rem !important;
}

.mt-n26 {
    margin-top: -2.6rem !important;
}

.mt-n27 {
    margin-top: -2.7rem !important;
}

.mt-n28 {
    margin-top: -2.8rem !important;
}

.mt-n29 {
    margin-top: -2.9rem !important;
}

.mt-n30 {
    margin-top: -3rem !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

/* Modal */

.modal {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    max-width: 300px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    font-family: 'Open Sans', sans-serif;
}

.modal h3 {
    font-weight: 600;
    color: #444;
    margin-bottom: 1.4rem;
}

.modal button#ok {
    width: 100%;
    background-color: #DB2777;
    border: none;
    padding: .5rem 0;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 600;
}

.modal button#ok:focus {
    outline: none;
}
  
.modal-close-btn {
    position: absolute;
    right: 13px;
    top: 10px;
    font-size: 22px;
    background-color: #fff;
    border: none;
    color: #444;
    cursor: pointer;
}

.modal-close-btn:focus {
    outline: none;
}

.modal-close-btn:hover {
    color: #666;
}

  
  /** Overlay */
.overlay {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
  }
  
  /** JS */
.is-visible {
    opacity: 1;
    pointer-events: auto;
  }

@media screen and (max-width: 1280px) {
    .modal h3 {
        font-weight: 600;
        color: #444;
        margin-bottom: 1.1rem;
        font-size: 16px;
    }
}

/* Pagination */
.not-promo ul.pagination {
    margin-top: -1rem !important;
}

.not-promo ul.pagination li {
    background-color: #eee;
}

.not-promo ul.pagination li a {
    color: #888;
}

ul.pagination {
    display: inline-flex;
    list-style: none;
    padding: .3rem;
    background: #fff;
    margin-bottom: 1.15rem;
    border-radius: 4px;
}

ul.pagination li {
    background-color: #fff;
    display: flex;
    transition: all 150ms ease;
    border-radius: 4px;
    margin: 0 3px;
}

ul.pagination li:first-child {
    margin-left: 0 !important;
}

ul.pagination li.active {
    background-color: #DB2777;
}

ul.pagination li:hover {
    background-color: #ee7aae;
}

ul.pagination li.disabled {
    display: none;
}

ul.pagination li:hover a {
    color: #fff;
}

ul.pagination li a {
    color: #888;
    padding: .5rem 1rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 150ms ease;
}

ul.pagination li span {
    padding: .5rem 1rem;
    color: #fff;
    font-weight: 600;
}

@media screen and (max-width: 1280px) {
    .not-promo ul.pagination {
        margin-top: .15rem !important;
    }

    ul.pagination {
        padding: .3rem;
        max-width: 100%;
        flex-wrap: wrap;
        margin-top: 1rem;
    }
    
    ul.pagination li {
        margin: 0 3px;
    }

    ul.pagination li a {
        color: #888;
        padding: .4rem .6rem;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        transition: all 150ms ease;
    }
    
    ul.pagination li span {
        padding: .3rem .6rem;
        font-size: 15px;
        color: #fff;
        font-weight: 600;
    }
}

.padding-responsive {
    padding: 0 5rem;
}
@media screen and (max-width: 1280px) {
    .padding-responsive {
        padding: 0 1rem;
    }
}

h1.title-cart {
    font-family: 'Open Sans', sans-serif;
    margin-top: 6rem !important;
}

.empty-cart-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-cart-wrapper img {
    width: 50%;
}

.empty-cart-wrapper h3 {
    color: #333;
    margin-top: .3rem;
}

@media screen and (max-width: 1280px) {
    .empty-cart-wrapper img {
        width: 90%;
    }

    .empty-cart-wrapper h3 {
        color: #333;
        margin-top: .7rem;
    }
}